<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
</head>

<body>
    <div class="container">
        <form class="form-signin"  role="form">
            <h2 class="form-signin-heading">Please input list number():</h2>
            <label>list number</label>
            <input type="text" id="inputUsername" name="listnumber" class="form-control">
            <label>number loop</label>
            <input type="text" name="numberloop" class="form-control">    
            <button class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
        </form>   
    </div> 
    <div>
        <label>Result list even number:</label>
        <p id ="even"></p>
        <label>Result list odd number:</label>
        <p id="odd"></p>
    </div> 
    <script type="text/javascript">
        $('button').click(function(){
            $.ajax({
                url: "http://127.0.0.1:5000/workflow",
                type:"POST",
                dataType: "json",
                data: $('form').serialize(),
                success: function(data){
                    if (data['status']==200){
                        var listeven;
                        var listodd;
                        for (i = 0; i < data['even'].length; i++){
                            listeven+="<b>"+data['even'][i] +" </b>"
                        }
                         for (i = 0; i < data['odd'].length; i++){
                            listodd+="<b>"+data['odd'][i]+" </b>"
                        }
                        $("#even").append(listeven);
                        $("#odd").append(listodd);   
                    }
                    else
                    {
                        alert("ERROR"+data.error+"!");
                    }
                }
            })
        });
    </script>
</body>
